nav ul .text-light{
    font-family: monospace;
}
 #hero-slider .carousel-item img {
            height: 550px;
            object-fit: cover;
        }
.documents_section {
    background-color: #f8f9fa;
    padding: 60px 0;
}
.documents_section .card {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.documents_section .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.documents_section .card img, .documents_section iframe {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.documents_section .card-body {
    flex-grow: 1;
}
.documents_section .card-body h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
.documents_section .card-footer {
    background-color: #fff;
    border-top: none;
}
.documents_section .card img {
    height: 200px; 
    object-fit: cover;
}
.footer_section {
    background: #121212; /* Darker background */
}

.footer_section h5 {
    color: #ffc107; /* Highlighted headings */
}

.footer_section p, 
.footer_section a {
    color: #ddd;
    transition: color 0.3s ease-in-out;
}

.footer_section a:hover {
    color: #ffc107;
}

.footer_section i {
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer_section i:hover {
    transform: scale(1.2);
    color: #ffc107;
}

.footer_section .border-top {
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.gallery-item {
    overflow: hidden;
    position: relative;
}

.gallery-item img {
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item img:hover {
    transform: scale(1.1);
}
.featured_img img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}